#container{
	display: flex;
	flex-direction: column;
	background-color: blue;
	border: 1px solid black;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	color: white;
	border-radius: 25px;
	
}

#temp{
	display: flex;
	flex-direction: row-reverse;
	flex-flow: row wrap;
	font-family: 'Cabin', sans-serif;
	background-color: blue;
	border: 1px solid black;
	width: 300px;
	height: 150px;
	margin: 0 auto;
	

}
span{
	text-align: center;
	margin-left: 106px;
	margin-bottom: 75px;
	font-size: 50px;
}
#tempLow{
	font-family: 'Cabin', sans-serif;
	background-color: blue;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	display: inline;
	margin-top: -54px;
	margin-left: 95px;
	font-size: 35px;
}
#tempHigh{
	font-family: 'Cabin', sans-serif;
	background-color: blue;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	display: inline;
	margin-top: 100px;
	font-size: 35px;

}
#city{
	font-family: 'Cabin', sans-serif;
	background-color: blue;
	border: 1px solid black;
	width: 300px;
	height: 50px;
	margin: 100px 0 0 99px;
	font-size: 30px;

}
#description{
	font-family: 'Cabin', sans-serif;
	background-color: blue;
	border: 1px solid black;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	font-size: 20px;

}